
.hinh1{
    
    width: 100px;
    height: auto;

}

h3{
    text-align: center;
    
}
.center{
    border-left:3px solid greenyellow ;
}

table{
    text-align: center;
    font-size: larger;
    
}
h2{
    color: green;
}

.container1>p{
    display: inline-block;
    margin-left: 200px;
}

